<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>

    <link th:href="@{/backoffice/css/backoffice.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/backoffice/css/modal.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/backoffice/js/login.js}"></script>
    <script th:src="@{/backoffice/js/modal.js}"></script>
</head>
<body>


<div th:fragment="restoreDetailModal" class="modal fade" id="restoreDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restoreDetailModalLabel">리스토어 상세/관리</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div data-v-8b96a82e="" data-v-708ef468="" class="profile_group">
<!--                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash;                            <img id="restoreImage" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="" alt="...">&ndash;&gt;-->
<!--                            <div id="imageCarousel" class="carousel slide" data-ride="carousel">-->
<!--                                &lt;!&ndash; 인디케이터 &ndash;&gt;-->
<!--                                <ol class="carousel-indicators">-->
<!--                                </ol>-->

<!--                                &lt;!&ndash; 이미지 래퍼 &ndash;&gt;-->
<!--                                <div class="carousel-inner">-->
<!--                                </div>-->

<!--                                &lt;!&ndash; 컨트롤 &ndash;&gt;-->
<!--                                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">-->
<!--                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                    <span class="sr-only">Previous</span>-->
<!--                                </a>-->
<!--                                <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">-->
<!--                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                    <span class="sr-only">Next</span>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">신청 고객 ID</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <p id="memberId" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""></p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">신청 상품 ID</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <p id="productId" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> 이상원 </p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">신청 상품명</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <p id="productName" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> 이상원 </p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">진행 상태</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">

<!--                            todo -->
<!--                            여기에 드롭다운 필요ㅠㅠ!!-->

                            <input data-v-5ee806c3="" type="text" autocomplete="off" maxlength="25" class="input_txt text_fill"/>
                            <p id="restoreStatus" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e="">  </p>
                            <button data-v-14ec1f2e="" data-v-6d416020="" type="button" class="btn btn_modify outlinegrey small" data-v-0c9f3f9e=""> 변경 </button>
                            <button type="button" class="btn btn_save outlinegrey small" style="display: none">저장</button>
                            <button type="button" class="btn btn_cancel outlinegrey small" style="display: none">취소</button>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">신청일</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <!--                            <input data-v-5ee806c3="" type="text" autocomplete="off" maxlength="25" class="input_txt text_fill"/>-->
                            <p id="regDate" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> </p>
                            <!--                            <button data-v-14ec1f2e="" data-v-6d416020="" type="button" class="btn btn_modify outlinegrey small" data-v-0c9f3f9e=""> 변경 </button>-->
                            <!--                            <button type="button" class="btn btn_save outlinegrey small" style="display: none">저장</button>-->
                            <!--                            <button type="button" class="btn btn_cancel outlinegrey small" style="display: none">취소</button>-->
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">상품 회수 요청일</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <!--                            todo -->
                            <p id="pickupDate" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> </p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">요청 등급</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
<!--                            todo 여기에 드롭다운-->
                            <p id="requestGrade" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> </p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">검수 등급</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <!--                            todo 여기에 드롭다운-->
                            <p id="inspectedGrade" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e="">  </p>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">최종 검수 가격</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <input data-v-5ee806c3="" type="text" autocomplete="off" maxlength="25" class="input_txt text_fill"/>
                            <p id="restorePayback" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> </p>
                            <button data-v-14ec1f2e="" data-v-6d416020="" type="button" class="btn btn_modify outlinegrey small" data-v-0c9f3f9e=""> 변경 </button>
                            <button type="button" class="btn btn_save outlinegrey small" style="display: none">저장</button>
                            <button type="button" class="btn btn_cancel outlinegrey small" style="display: none">취소</button>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">폐기 옵션</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
                            <div id="whenRejected" class="radio_buttons">
                                <input type="radio" id="dispose" name="grade" value="DISPOSE" disabled>
                                <label for="dispose">DISPOSE</label>
                                <input type="radio" id="return" name="grade" value="RETURN" disabled>
                                <label for="return">RETURN</label>
                            </div>
                        </div>
                    </div>
                    <div data-v-0c9f3f9e="" data-v-6d416020="" data-v-708ef468="" class="unit">
                        <h5 data-v-0c9f3f9e="" class="title">검수 결과 메세지</h5>
                        <div data-v-0c9f3f9e="" class="unit_content">
<!--                            todo 여기에 텍스트 area-->

                            <input data-v-5ee806c3="" type="text" autocomplete="off" maxlength="25" class="input_txt text_fill"/>
                            <p id="rejectedMsg" data-v-24a03828="" data-v-6d416020="" class="desc desc_modify" data-v-0c9f3f9e=""> </p>
                            <button data-v-14ec1f2e="" data-v-6d416020="" type="button" class="btn btn_modify outlinegrey small" data-v-0c9f3f9e=""> 변경 </button>
                            <button type="button" class="btn btn_save outlinegrey small" style="display: none">저장</button>
                            <button type="button" class="btn btn_cancel outlinegrey small" style="display: none">취소</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a id="updateRestore" class="btn btn-primary">수정 반영</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>