<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>H.Livv Admin</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/backoffice/img/favicon-32x32.png}">
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap Bundle JS (Popper.js 포함) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/backoffice/css/backoffice.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/backoffice/css/modal.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <script th:src="@{/backoffice/js/login.js}"></script>
    <script th:src="@{/backoffice/js/modal.js}"></script>
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="~{backoffice/fragments/fragment :: sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="~{backoffice/fragments/fragment :: header}"></div>

                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Re-Store 신청현황</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>신청 고객 ID</th>
                                        <th>신청 상품 ID</th>
                                        <th>진행 상태</th>
                                        <th>신청일</th>
                                        <th>회수요청일</th>
                                        <th>요청 등급</th>
                                        <th>검수 등급</th>
                                        <th>검수 가격</th>
                                        <th>폐기 옵션</th>
                                        <th>사용자 리스토어 설명</th>
                                        <th>검수 결과 메세지</th>
                                        <th>Re-Store 문자/이메일 발송</th>
                                        <!--                                        <th>리스토어 관리</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="restore : ${restores}">
                                        <td th:data-memberId="${restore.memberId}" class="modal-item restore-member-modal" data-toggle="modal" data-target="#userDetailModal" th:text="${restore.memberId}"></td>
                                        <td th:data-productId="${restore.productId}" class="modal-item restore-product-modal" data-toggle="modal" data-target="#productDetailModal" th:text="${restore.productId}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:text="${restore.restoreStatus}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:text="${restore.regDate}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:text="${restore.pickUpDate}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:text="${restore.requestGrade}"></td>

                                        <!-- inspectedGrade가 null이 아닌 경우 값을 표시하고, null인 경우 '검수중'을 표시 -->
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.inspectedGrade != null}" th:text="${restore.inspectedGrade}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.inspectedGrade == null}">검수중</td>
                                        <!-- payback가 null이 아닌 경우 값을 표시하고, null인 경우 '검수중'을 표시 -->
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.payback != null}" th:text="${T(java.lang.String).format('%,d', restore.payback)} + '원'"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.payback == null}">검수중</td>
                                        <!-- whenRejected가 true면 폐기, false면 반송 표기 -->
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.whenRejected == true}">폐기</td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.whenRejected == false}">반송</td>
                                        <!-- rejectMsg가 null이 아닌 경우 값을 표시하고, null인 경우 '검수중'을 표시 -->

                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:text="${restore.restoreDesc}"></td>

                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.rejectMsg != null}" th:text="${restore.rejectMsg}"></td>
                                        <td th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}"
                                            class="modal-item restore-modal" data-toggle="modal" data-target="#restoreDetailModal" th:if="${restore.rejectMsg == null}">검수중</td>

                                        <td class="modal-item transferRestoreMessage" th:data-restoreId="${restore.restoreId}" th:data-memberId="${restore.memberId}" th:data-productId="${restore.productId}">발송하기</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-12 col-md-7" style="text-align: center">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination">
<!--                                            <li th:class="|paginate_button page-item ${restores.first ? 'disabled' : ''}|">-->
<!--                                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" th:href="@{/backoffice/restores(page=${restores.number - 1})}">Previous</a>-->
<!--                                            </li>-->
<!--                                            <li th:each="pageNum : ${#numbers.sequence(1, restores.totalPages)}" th:class="|paginate_button page-item ${pageNum  == restores.number + 1 ? 'active' : ''}|">-->
<!--                                                <a href="#" aria-controls="dataTable" th:data-dt-idx="${pageNum}" tabindex="0" class="page-link" th:text="${pageNum}" th:href="@{/backoffice/restores(page=${pageNum - 1})}"></a>-->
<!--                                            </li>-->
<!--                                            <li th:class="|paginate_button page-item ${restores.last ? 'disabled' : ''}|">-->
<!--                                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link" th:href="@{/backoffice/restores(page=${restores.number + 1})}">Next</a>-->
<!--                                            </li>-->
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{backoffice/fragments/fragment :: footer}"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div th:replace="~{backoffice/fragments/modal :: logoutModal}"></div>
    <div th:replace="~{backoffice/fragments/modal :: userDetailModal}"></div>
    <div th:replace="~{backoffice/fragments/modal :: productDetailModal}"></div>
    <div th:replace="~{backoffice/fragments/restoreModal :: restoreDetailModal}"></div>

    <link th:href="@{/backoffice/css/backoffice.css}" rel="stylesheet" type="text/css">
    <!-- Page level plugins -->
<!--    <script src="vendor/datatables/jquery.dataTables.min.js"></script>-->
<!--    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="js/demo/datatables-demo.js"></script>-->
    <script th:inline="javascript">
        /* Thymeleaf에서 사용하는 변수를 JavaScript 변수로 변환 */
        var pageSize = 10;
        var currentPage = [[${restores.number + 1}]];
        function showPages(startPage, endPage) {
            /* 페이지 숫자를 동적으로 생성하여 페이징 버튼 업데이트 */
            for (var i = startPage; i <= endPage; i++) {
                // 페이지 버튼을 생성하고 클릭 시 해당 페이지로 이동하는 이벤트 핸들러를 추가
                var pageLink = $('<a>', {
                    href: '#',
                    'data-dt-idx': i,
                    tabindex: 0,
                    class: 'page-link',
                    text: i,
                    click: function () {
                        window.location.href = '/backoffice/restores?page=' + (parseInt($(this).data('dt-idx')) - 1);
                    }
                });

                // 현재 페이지일 경우 'active' 클래스 추가
                if (i === currentPage) {
                    pageLink.addClass('active');
                }

                // 페이지 버튼을 페이징 영역에 추가
                $('#dataTable_paginate ul.pagination').append($('<li>', {
                    class: 'paginate_button page-item',
                }).append(pageLink));
            }
        }

        $(document).ready(function () {
            /* 페이지 범위 계산 */
            var startPage = Math.floor((currentPage - 1) / pageSize) * pageSize + 1;
            var endPage = Math.min(startPage + pageSize - 1, [[${restores.totalPages}]]);

            /* 이전 페이지 버튼 생성 */
            $('#dataTable_paginate ul.pagination').append($('<li>', {
                class: 'paginate_button page-item ' + (currentPage === 1 ? 'disabled' : ''),
            }).append($('<a>', {
                href: '#',
                'data-dt-idx': 0,
                tabindex: 0,
                class: 'page-link',
                text: 'Previous',
                click: function () {
                    if (currentPage > 1) {
                        window.location.href = '/backoffice/restores?page=' + (currentPage - 2);
                    }
                }
            })));

            /* 페이지 숫자 표시 */
            showPages(startPage, endPage);

            /* 다음 페이지 버튼 생성 */
            $('#dataTable_paginate ul.pagination').append($('<li>', {
                class: 'paginate_button page-item ' + (currentPage === [[${restores.totalPages}]] ? 'disabled' : ''),
            }).append($('<a>', {
                href: '#',
                'data-dt-idx': 2,
                tabindex: 0,
                class: 'page-link',
                text: 'Next',
                click: function () {
                    if (currentPage < [[${restores.totalPages}]]) {
                        window.location.href = '/backoffice/restores?page=' + currentPage;
                    }
                }
            })));
        });
    </script>

</body>

</html>